.footer {
  padding: 10px 0;
  margin-block-start: 30px;
}

.footer-block {
  margin: auto;
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 35px;
}

.logo {
  background-color: black;
  color: #fff;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;

  &:hover {
    background-color: #4361ee;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__github {
    display: flex;
    gap: 10px;
  }
  &__email {
    display: flex;
    gap: 10px;
  }
}

.contacts-link {
  position: relative;

  &:hover {
    cursor: pointer;
    color: #4361ee;
  }
}
