.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-block-start: 100px;
  padding-block-end: 80px;
  background-color: #fff;
}

.logo-block {
}

.contacts-block {
}
